.list-btn {
	margin-right: 4px;
	border-radius: 3px;
	border: none;
	box-shadow: 3px 1px 1px rgb(58, 85, 124);
	cursor: pointer;
}

.list-btn:hover,
.list-btn:active,
.list-btn:focus {
	opacity: 0.9;
}
