.list {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	box-shadow: 5px 3px 3px rgb(58, 85, 124);
}

.list-input {
	border: none;
	box-sizing: border-box;
	width: 70%;
	color: black;
	background: none;
}
