.app {
	text-align: left;
	padding: 20px;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid rgb(53, 53, 53);
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.links {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
}

:global a {
	text-decoration: none;
	color: rgb(0, 0, 133);
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

:global .active {
	font-size: large;
	color: rgb(2, 2, 59);
	border: 1px solid gray;
	border-radius: 3px;
	padding: 4px;
	box-shadow: 3px 1px 1px rgb(58, 85, 124);
}

a:hover,
a:active,
a:focus {
	opacity: 0.7;
}

.notFound {
	display: flex;
	justify-content: center;
	margin: 20px;
	font-size: 15px;
	font-weight: bold;
}
